/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Raleway:ital,wght@1,300&family=Roboto&display=swap');

/* VARIABLES */

:root {
    --dark-blue: #1f2937;
    --light-one: #F9FAF8;
    --light-two: #E5E7EB;
    --light-blue: #3882F6;
    --font-1: 'Raleway'
}

/* General reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL STYLING */

body {
    font-family: var(--font-1);
}

/* NAVBAR */

.navbar {
    background-color: var(--dark-blue);
    width: 100vw;
    padding: 10px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;  
}

.nav-header {
    color: var(--light-one);
    font-size: 24px;
    font-weight: 600;
}

.nav-links {
    display: flex;
    gap: 50px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--light-one);
    font-size: 18px;
}

/* HERO SECTION */

.hero-section {
    background-color: var(--dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 200px;
}

.about {
    display: flex;
    flex-direction: column;

}

.about > p {
    color: var(--light-two);
    padding: 15px 0;
}

.hero-header {
    font-size: 48px;
    font-weight: 800;
    color: var(--light-one);

}

.hero-img {
    width: 500px;
    height: auto;
}

.btn-submit {
    background-color: var(--light-blue);
    color: var(--light-one);
    font-family: var(--font-1);
    font-weight: bold;


    width: 100px;
    padding: 5px;
    border: 1px solid var(--light-blue);
    border-radius: 10px;
}



/* MEET UPS SECTION */
/* QUOTE SECTION */
/* SIGN UP SECTION */
/* FOOTER */